.text-right {
    text-align: right;
}
.badge-text {
    padding: 10px 15px;
    margin: 5px 5px;
    border-radius: 5px;
    text-align: justify;
    vertical-align: middle;
    width: max-content;
   
}
.badge-text.code {
    background-color: #f0f8ff;
}
.badge-text.design {
    background-color: #fff3b7;
}

.icon-logo {
    max-width: 20px;
    height: auto;
}
.office-logo {
    max-width: 75px;
}